# This file lives in /lib/systemd/system/sample.service on the RPI.
# This starts up the lights on boot of the RPi
# Remove these comments from the file

[Unit]
Description=Chameleon Lights
After=multi-user.target

[Service]
Type=idle
ExecStart=bash /home/pi/Code/chameleon-lights/pi/startup.sh > /home/pi/Desktpo/chameleon-startup-logs.txt

[Install]
WantedBy=multi-user.target